html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
}
* {
    box-sizing: border-box;
}
#map-canvas {
    width: 100%;
    height: 300px;
    background: #888;
}
#routes {
    top: 50%;
    padding: 10px;
}
#input {
    background: #eee;
    box-sizing: border-box;
    width: 100%;
}
#input > * {
    display: table-cell;
    padding: 10px;
    width: 50%;
}
#input input,
#routes .origin input {
    border: solid 1px transparent;
    border-bottom-color: #888;
    background: none;
}
#input input:hover,
#input input:active,
#input input:focus,
#routes .origin input:hover,
#routes .origin input:active,
#routes .origin input:focus {
    border: solid 1px #888;
    background: #fff;
}

#input .name input {
    width: 10em;
}
#input .address input {
    width: 25em;
}
#routes .origin .name input {
    width: 10em;
}
#routes .origin .address input {
    width: 100%;
}
.id {
    background: #be80ff;
    border-radius: 10px;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border: solid 1px black;
    padding: 1px;
    font-weight: bold;
    text-align: center;
}
.origin .id {
    background: #4bffa9;
}

#input .details {
    font-size: 80%;
}

h1 {
    margin-top: 0;
}

#outputDiv {
    font-size: 11px;
}

.icon {
    width: 15px;
    height: 15px;
}
#routes table {
    border-spacing: 0;
    border-collapse: collapse;
    display: inline-block;
}
#routes th, #routes td {
    border: solid 1px #eee;
    border-left-color: #888;
    border-right-color: #888;
    vertical-align: top;
}
#routes th {
    background: #eee;
    border: solid 1px #888;
}
#routes th * {
    vertical-align: top;
}
#routes td {
    white-space: nowrap;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 30em;
}
#routes .route {
    text-decoration: none;
    display: block;
}
#routes .route img {
    padding-right: 0.5ch;
}
#routes .route .fast {
    color: #0d0;
}
#routes .route .moderate {
    color: #0a0;
}
#routes .route .ok {
    color: #888;
}
#routes .route .slow {
    color: #F80;
}
#routes .route .bad {
    color: #f00;
}
#routes .walk,
#routes .bike,
#routes .transit,
#routes .drive {
    display: none;
}
#routes td.driving,
#routes td.walking,
#routes td.biking,
#routes td.transiting {
    padding: 2px 5px;
    text-align: right;
    width: 1em;
}
#routes .show-driving .drive {
    display: block;
}
#routes .show-walking .walk {
    display: block;
}
#routes .show-biking .bike {
    display: block;
}
#routes .show-transit .transit {
    display: block;
}
.print-only {
    display: none;
}
@media print {
    label,
    button,
    #routes > p,
    #database-section {
        display: none;
    }
    .print-only {
        display: inline-block;
    }
    #routes .origin .print-only {
        max-width: 10em;
    }
}

